@model IEnumerable<TracyShop.Models.AppUser>

@{
    ViewData["title"] = "Customer";
    Layout = "_Layout";
}


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Quản lý khách hàng</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Họ và tên</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th>Ngày đăng ký</th>
            <th>Đang hoạt động</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Joined_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is_active)
            </td>
            <td>
                <a asp-area="Admin" asp-controller="Customer" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                <a asp-area="Admin" asp-controller="Customer" asp-action="OrderView" asp-route-id="@item.Id">Lịch sử mua hàng</a>
            </td>
            @if (item.Is_active == true)
            {
                <td>
                    <button data-id="@item.Id" class="btn disableCus" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-dash-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z" />
                        </svg>
                    </button>
                </td>
            }
            else
            {
                <td>
                    <button data-id="@item.Id" class="btn availableCus" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                        </svg>
                    </button>
                </td>
            }
        </tr>
        }
    </tbody>
</table>

<form id="availableCus" asp-action="AvailableCustomer">
    <input type="hidden" id="custoId" name="Id" />
</form>

<form id="disableCus" asp-action="Disable">
    <input type="hidden" id="cusId" name="Id" />
</form>

@section Scripts{
    <script>
        $(function(){
            $('.disableCus').click(function(e) {
                swal({
                    title: "Bạn chắc chắn?",
                    text: "Bạn chắc chắn muốn vô hiệu hóa khách hàng này?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                        if(confirm){
                            var btn = $(this);
                            var id = btn.data("id");
                            $('#cusId').val(id);
                            $('#disableCus').submit();
                        }
                    });
            });
        });

        $(function(){
            $('.availableCus').click(function(e) {
                swal({
                    title: "Bạn chắc chắn?",
                    text: "Bạn chắc chắn muốn bỏ vô hiệu hóa khách hàng này?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#custoId').val(id);
                        $('#availableCus').submit();
                    }
                });
            });
        });
    </script>
}