@model IEnumerable<TracyShop.ViewModels.PurchaseHistoryViewModel>
@{
    ViewData["Title"] = "Purchase History";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}
@inject TracyShop.Data.AppDbContext _context

<div class="card" style="padding: 3%">
    <h2 class="text text-center" style="color: #FFBF00;">Lịch sử đơn hàng</h2>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist" style="margin-top: -10%">
    <li class="nav-item" role="presentation">
        <button class="btn nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="true"><b>Tất cả</b></button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="btn nav-link" id="waiting-confirm-tab" data-bs-toggle="tab" data-bs-target="#confirm" type="button" role="tab" aria-controls="confirm" aria-selected="false"><b>Chờ xác nhận</b></button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="btn nav-link" id="waiting-get-tab" data-bs-toggle="tab" data-bs-target="#get" type="button" role="tab" aria-controls="get" aria-selected="false"><b>Chờ lấy hàng</b></button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="btn nav-link" id="delivering-tab" data-bs-toggle="tab" data-bs-target="#delivering" type="button" role="tab" aria-controls="delivering" aria-selected="false"><b>Đang giao</b></button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="btn nav-link" id="received-tab" data-bs-toggle="tab" data-bs-target="#received" type="button" role="tab" aria-controls="received" aria-selected="false"><b>Đã giao</b></button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="btn nav-link" id="detroyed-tab" data-bs-toggle="tab" data-bs-target="#detroyed" type="button" role="tab" aria-controls="detroyed" aria-selected="false"><b>Đã hủy</b></button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
        @if (ViewBag.News == "")
        {
            foreach (var item in Model)
            {
                <div class="container card">
                    <div class="row" style="margin-top: 2%; margin-bottom: 2%;">
                        <div class="col-md-6 col-xs-6">Ngày mua: @item.OrderDate</div>
                        @{
                            var status = item.Status == 0 ? "chờ xác nhận" : (item.Status == 1 ? "chờ lấy hàng" : (item.Status == 2 ? "đang giao" : (item.Status == 3 ? "đã giao" : "đã hủy")));
                            if (item.Status == 4)
                            {
                                <div class="col-md-6 col-xs-6 text-right text-uppercase text-danger"><b>@status</b></div>
                            }
                            else
                            {
                                <div class="col-md-6 col-xs-6 text-right text-uppercase text-success"><b>@status</b></div>
                            }
                        }
                    </div>
                    <table>
                        @foreach (var detail in item.OrderDetails)
                        {
                        <tr>
                            <th>
                                <div class="row">
                                    <div class="col-md-4 col-xs-12">
                                        <img src="@_context.Image.Where(i => i.ProductId == detail.ProductId).First().Path" alt="" style="width: 50%" />
                                    </div>
                                    <div class="col-md-8" col-xs-12 style="margin-top: 2%;">
                                        <h5>@_context.Product.Where(p => p.Id == detail.ProductId).First().Name</h5>
                                        <p>Phân loại hàng: @_context.Sizes.Where(s => s.Id == detail.SelectedSize).First().Name</p>
                                        <p>x @detail.Quantity</p>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="unit-price">
                                    @if (detail.Promotion != 0)
                                    {
                                        <div class="unit-price-origin" style="font-size: 12px; text-decoration: line-through;">@String.Format("{0:0,0}", (detail.Price / (1 - detail.Promotion))) VNĐ</div>
                                    }
                                    <div class="unit-price-discount text text-danger" style="font-size: 15px; font-weight: bold;">@String.Format("{0:0,0}", (detail.Price)) VNĐ</div>
                                </div>
                            </th>
                            @if (item.Status == 3)
                            {
                                <th>
                                    <a asp-controller="Reviews" asp-action="Create" asp-route-id="@detail.ProductId" class="btn btn-outline-success">Đánh giá</a>
                                </th>
                            }
                        </tr>
                        }
                    </table>
                    <hr />
                    <div class="row">
                        <div class="col-md-7 col-xs-12"></div>
                        <div class="col-md-5 col-xs-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-cash-coin" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
                                        <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
                                        <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
                                        <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
                                    </svg>
                                    Tổng số tiền:
                                </div>
                                <div class="col-md-6">
                                    <h5 class="text text-danger" style="font-weight: bold;">@String.Format("{0:0,0}", item.TotalPrice) VNĐ</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (item.Status == 0)
                    {
                        <hr />
                        <div class="row" style="margin-bottom: 3%">
                            <div class="col-md-8 col-xs-12"></div>
                            <div class="col-md-4 col-xs-12">
                                <button data-id="@item.OrderId" class="btn btn-danger detroyedOrder" style="float: right" type="button">Hủy đơn hàng</button>
                            </div>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <div class="container card">
                <div class="text-center" style="margin-top: 12%; margin-bottom: 2% ">
                    <img src="~/Client/img/order-blank.png" style="width: 10%;" />
                </div>
                <div class="text-center" style="margin-bottom: 12%; margin-top: 2%;">Chưa có đơn hàng nào.</div>
            </div>
        }
    </div>
    <div class="tab-pane fade" id="confirm" role="tabpanel" aria-labelledby="waiting-confirm-tab">
        @if (ViewBag.News == "" && ViewBag.WaitingForConfirmation > 0)
        {
            foreach (var item in Model.Where(p => p.Status == 0))
            {
                <div class="container card">
                    <div class="row" style="margin-top: 2%; margin-bottom: 2%;">
                        <div class="col-md-6 col-xs-6">Ngày mua: @item.OrderDate</div>
                        <div class="col-md-6 col-xs-6 text-right text-uppercase text-success"><b>chưa xác nhận</b></div>
                    </div>
                    <table>
                        @foreach (var detail in item.OrderDetails)
                        {
                            <tr>
                                <th>
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12">
                                            <img src="@_context.Image.Where(i => i.ProductId == detail.ProductId).First().Path" alt="" style="width: 50%" />
                                        </div>
                                        <div class="col-md-8" col-xs-12 style="margin-top: 2%;">
                                            <h5>@_context.Product.Where(p => p.Id == detail.ProductId).First().Name</h5>
                                            <p>Phân loại hàng: @_context.Sizes.Where(s => s.Id == detail.SelectedSize).First().Name</p>
                                            <p>x @detail.Quantity</p>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="unit-price">
                                        @if (detail.Promotion != 0)
                                        {
                                            <div class="unit-price-origin" style="font-size: 12px; text-decoration: line-through;">@String.Format("{0:0,0}", (detail.Price / (1 - detail.Promotion))) VNĐ</div>
                                        }
                                        <div class="unit-price-discount text text-danger" style="font-size: 15px; font-weight: bold;">@String.Format("{0:0,0}", (detail.Price)) VNĐ</div>
                                    </div>
                                </th>
                            </tr>
                        }
                    </table>
                    <hr />
                    <div class="row">
                        <div class="col-md-7 col-xs-12"></div>
                        <div class="col-md-5 col-xs-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-cash-coin" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
                                        <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
                                        <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
                                        <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
                                    </svg>
                                    Tổng số tiền:
                                </div>
                                <div class="col-md-6">
                                    <h5 class="text text-danger" style="font-weight: bold;">@String.Format("{0:0,0}", item.TotalPrice) VNĐ</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row" style="margin-bottom: 3%">
                        <div class="col-md-8 col-xs-12"></div>
                        <div class="col-md-4 col-xs-12">
                            <button data-id="@item.OrderId" class="btn btn-danger detroyedOrder" style="float: right" type="button">Hủy đơn hàng</button>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="container card">
                <div class="text-center" style="margin-top: 12%; margin-bottom: 2% ">
                    <img src="~/Client/img/order-blank.png" style="width: 10%;" />
                </div>
                <div class="text-center" style="margin-bottom: 12%; margin-top: 2%;">Chưa có đơn hàng nào.</div>
            </div>
        }
    </div>
    <div class="tab-pane fade" id="get" role="tabpanel" aria-labelledby="waiting-get-tab">
        @if (ViewBag.News == "" && ViewBag.WaitingForGetting > 0)
        {
            foreach (var item in Model.Where(p => p.Status == 1))
            {
                <div class="container card">
                    <div class="row" style="margin-top: 2%; margin-bottom: 2%;">
                        <div class="col-md-6 col-xs-6">Ngày mua: @item.OrderDate</div>
                        <div class="col-md-6 col-xs-6 text-right text-uppercase text-success"><b>chờ lấy hàng</b></div>
                    </div>
                    <table>
                        @foreach (var detail in item.OrderDetails)
                        {
                            <tr>
                                <th>
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12">
                                            <img src="@_context.Image.Where(i => i.ProductId == detail.ProductId).First().Path" alt="" style="width: 50%" />
                                        </div>
                                        <div class="col-md-8" col-xs-12 style="margin-top: 2%;">
                                            <h5>@_context.Product.Where(p => p.Id == detail.ProductId).First().Name</h5>
                                            <p>Phân loại hàng: @_context.Sizes.Where(s => s.Id == detail.SelectedSize).First().Name</p>
                                            <p>x @detail.Quantity</p>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="unit-price">
                                        @if (detail.Promotion != 0)
                                        {
                                            <div class="unit-price-origin" style="font-size: 12px; text-decoration: line-through;">@String.Format("{0:0,0}", (detail.Price / (1 - detail.Promotion))) VNĐ</div>
                                        }
                                        <div class="unit-price-discount text text-danger" style="font-size: 15px; font-weight: bold;">@String.Format("{0:0,0}", (detail.Price)) VNĐ</div>
                                    </div>
                                </th>
                            </tr>
                        }
                    </table>
                    <hr />
                    <div class="row">
                        <div class="col-md-7 col-xs-12"></div>
                        <div class="col-md-5 col-xs-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-cash-coin" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
                                        <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
                                        <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
                                        <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
                                    </svg>
                                    Tổng số tiền:
                                </div>
                                <div class="col-md-6">
                                    <h5 class="text text-danger" style="font-weight: bold;">@String.Format("{0:0,0}", item.TotalPrice) VNĐ</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="container card">
                <div class="text-center" style="margin-top: 12%; margin-bottom: 2% ">
                    <img src="~/Client/img/order-blank.png" style="width: 10%;" />
                </div>
                <div class="text-center" style="margin-bottom: 12%; margin-top: 2%;">Chưa có đơn hàng nào.</div>
            </div>
        }
    </div>
    <div class="tab-pane fade" id="delivering" role="tabpanel" aria-labelledby="delivering-tab">
        @if (ViewBag.News == "" && ViewBag.Delivering > 0)
        {
            foreach (var item in Model.Where(p => p.Status == 2))
            {
                <div class="container card">
                    <div class="row" style="margin-top: 2%; margin-bottom: 2%;">
                        <div class="col-md-6 col-xs-6">Ngày mua: @item.OrderDate</div>
                        <div class="col-md-6 col-xs-6 text-right text-uppercase text-success"><b>đang giao</b></div>
                    </div>
                    <table>
                        @foreach (var detail in item.OrderDetails)
                        {
                            <tr>
                                <th>
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12">
                                            <img src="@_context.Image.Where(i => i.ProductId == detail.ProductId).First().Path" alt="" style="width: 50%" />
                                        </div>
                                        <div class="col-md-8" col-xs-12 style="margin-top: 2%;">
                                            <h5>@_context.Product.Where(p => p.Id == detail.ProductId).First().Name</h5>
                                            <p>Phân loại hàng: @_context.Sizes.Where(s => s.Id == detail.SelectedSize).First().Name</p>
                                            <p>x @detail.Quantity</p>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="unit-price">
                                        @if (detail.Promotion != 0)
                                        {
                                            <div class="unit-price-origin" style="font-size: 12px; text-decoration: line-through;">@String.Format("{0:0,0}", (detail.Price / (1 - detail.Promotion))) VNĐ</div>
                                        }
                                        <div class="unit-price-discount text text-danger" style="font-size: 15px; font-weight: bold;">@String.Format("{0:0,0}", (detail.Price)) VNĐ</div>
                                    </div>
                                </th>
                            </tr>
                        }
                    </table>
                    <hr />
                    <div class="row">
                        <div class="col-md-7 col-xs-12"></div>
                        <div class="col-md-5 col-xs-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-cash-coin" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
                                        <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
                                        <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
                                        <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
                                    </svg>
                                    Tổng số tiền:
                                </div>
                                <div class="col-md-6">
                                    <h5 class="text text-danger" style="font-weight: bold;">@String.Format("{0:0,0}", item.TotalPrice) VNĐ</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="container card">
                <div class="text-center" style="margin-top: 12%; margin-bottom: 2% ">
                    <img src="~/Client/img/order-blank.png" style="width: 10%;" />
                </div>
                <div class="text-center" style="margin-bottom: 12%; margin-top: 2%;">Chưa có đơn hàng nào.</div>
            </div>
        }
    </div>
    <div class="tab-pane fade" id="received" role="tabpanel" aria-labelledby="received-tab">
        @if (ViewBag.News == "" && ViewBag.Received > 0)
        {
            foreach (var item in Model.Where(p => p.Status == 3))
            {
                <div class="container card">
                    <div class="row" style="margin-top: 2%; margin-bottom: 2%;">
                        <div class="col-md-6 col-xs-6">Ngày mua: @item.OrderDate</div>
                        <div class="col-md-6 col-xs-6 text-right text-uppercase text-success"><b>đã giao</b></div>
                    </div>
                    <table>
                        @foreach (var detail in item.OrderDetails)
                        {
                            <tr>
                                <th>
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12">
                                            <img src="@_context.Image.Where(i => i.ProductId == detail.ProductId).First().Path" alt="" style="width: 50%" />
                                        </div>
                                        <div class="col-md-8" col-xs-12 style="margin-top: 2%;">
                                            <h5>@_context.Product.Where(p => p.Id == detail.ProductId).First().Name</h5>
                                            <p>Phân loại hàng: @_context.Sizes.Where(s => s.Id == detail.SelectedSize).First().Name</p>
                                            <p>x @detail.Quantity</p>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="unit-price">
                                        @if (detail.Promotion != 0)
                                        {
                                            <div class="unit-price-origin" style="font-size: 12px; text-decoration: line-through;">@String.Format("{0:0,0}", (detail.Price / (1 - detail.Promotion))) VNĐ</div>
                                        }
                                        <div class="unit-price-discount text text-danger" style="font-size: 15px; font-weight: bold;">@String.Format("{0:0,0}", (detail.Price)) VNĐ</div>
                                    </div>
                                </th>
                                <th>
                                    <a asp-controller="Reviews" asp-action="Create" asp-route-id="@detail.ProductId" class="btn btn-outline-success">Đánh giá</a>
                                </th>
                            </tr>
                        }
                    </table>
                    <hr />
                    <div class="row">
                        <div class="col-md-7 col-xs-12"></div>
                        <div class="col-md-5 col-xs-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-cash-coin" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
                                        <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
                                        <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
                                        <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
                                    </svg>
                                    Tổng số tiền:
                                </div>
                                <div class="col-md-6">
                                    <h5 class="text text-danger" style="font-weight: bold;">@String.Format("{0:0,0}", item.TotalPrice) VNĐ</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="container card">
                <div class="text-center" style="margin-top: 12%; margin-bottom: 2% ">
                    <img src="~/Client/img/order-blank.png" style="width: 10%;" />
                </div>
                <div class="text-center" style="margin-bottom: 12%; margin-top: 2%;">Chưa có đơn hàng nào.</div>
            </div>
        }
    </div>
    <div class="tab-pane fade" id="detroyed" role="tabpanel" aria-labelledby="detroyed-tab">
        @if (ViewBag.News == "" && ViewBag.Detroyed > 0)
        {
            foreach (var item in Model.Where(p => p.Status == 4))
            {
                <div class="container card">
                    <div class="row" style="margin-top: 2%; margin-bottom: 2%;">
                        <div class="col-md-6 col-xs-6">Ngày mua: @item.OrderDate</div>
                        <div class="col-md-6 col-xs-6 text-right text-uppercase text-danger"><b>đã hủy</b></div>
                    </div>
                    <table>
                        @foreach (var detail in item.OrderDetails)
                        {
                            <tr>
                                <th>
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12">
                                            <img src="@_context.Image.Where(i => i.ProductId == detail.ProductId).First().Path" alt="" style="width: 50%" />
                                        </div>
                                        <div class="col-md-8" col-xs-12 style="margin-top: 2%;">
                                            <h5>@_context.Product.Where(p => p.Id == detail.ProductId).First().Name</h5>
                                            <p>Phân loại hàng: @_context.Sizes.Where(s => s.Id == detail.SelectedSize).First().Name</p>
                                            <p>x @detail.Quantity</p>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div class="unit-price">
                                        @if (detail.Promotion != 0)
                                        {
                                            <div class="unit-price-origin" style="font-size: 12px; text-decoration: line-through;">@String.Format("{0:0,0}", (detail.Price / (1 - detail.Promotion))) VNĐ</div>
                                        }
                                        <div class="unit-price-discount text text-danger" style="font-size: 15px; font-weight: bold;">@String.Format("{0:0,0}", (detail.Price)) VNĐ</div>
                                    </div>
                                </th>
                            </tr>
                        }
                    </table>
                    <hr />
                    <div class="row">
                        <div class="col-md-7 col-xs-12"></div>
                        <div class="col-md-5 col-xs-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-cash-coin" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
                                        <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
                                        <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
                                        <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
                                    </svg>
                                    Tổng số tiền:
                                </div>
                                <div class="col-md-6">
                                    <h5 class="text text-danger" style="font-weight: bold;">@String.Format("{0:0,0}", item.TotalPrice) VNĐ</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="container card">
                <div class="text-center" style="margin-top: 12%; margin-bottom: 2% ">
                    <img src="~/Client/img/order-blank.png" style="width: 10%;" />
                </div>
                <div class="text-center" style="margin-bottom: 12%; margin-top: 2%;">Chưa có đơn hàng nào.</div>
            </div>
        }
    </div>
</div>

<form id="detroyedOrder" asp-action="CancelOrder">
    <input type="hidden" id="ordId" name="OrderId" />
</form>

@section Scripts{
    <!-- Alert -->
    @*<script src="~/lib/sweetalert/sweetalert.min.js"></script>*@
    <script src="~/Client/js/jquery-3.4.1.min.js"></script>
    <script>
        $(function () {
            $('.detroyedOrder').click(function (e) {
                console.log("aaaa");
                swal({
                    title: "Bạn chắc chắn?",
                    text: "Bạn chắc chắn muốn hủy đơn hàng này?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                    if (confirm) {
                        var btn = $(this);
                        var id = btn.data("id");
                        $('#ordId').val(id);
                        $('#detroyedOrder').submit();
                    }
                });
            });
        });
    </script>
}
