@model TracyShop.ViewModels.ResponseViewModel

@inject Microsoft.AspNetCore.Identity.SignInManager<AppUser> _signInManager
@inject TracyShop.Data.AppDbContext _context
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Admin Chat - Tracy Shop</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Admin/css/chat.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card chat-app">

                    @if (ViewBag.Message != "")
                    {
                        <div class="text-center" style="margin-bottom: 2%; margin-top: 10%">@ViewBag.Message</div>
                        <div style="margin-bottom: 12%; text-align: center;">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-success">Trở lại</a>
                        </div>
                    }
                    else
                    {
                        <div id="plist" class="people-list">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <a asp-area="Admin" asp-controller="Messages" asp-action="Index" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                        <i class="fas fa-arrow-alt-circle-left text-white-50"></i> Trở lại
                                    </a>
                                </div>
                            </div>
                            <ul class="list-unstyled chat-list mt-2 mb-0">

                                @if (ViewBag.Users.Count > 0)
                                {
                                    foreach (var user in ViewBag.Users)
                                    {
                                        <li class="clearfix">
                                            <a asp-area="Admin" asp-controller="Messages" asp-action="Chat" asp-route-userId="@user.Id">

                                                @if (user.Avatar == "" || user.Avatar == null)
                                                {
                                                    <img src="~/Client/img/default-user.jpg" alt="avatar" />
                                                }
                                                else
                                                {
                                                    <img src="@user.Avatar" alt="avatar">
                                                }

                                                <div class="about">
                                                    <div class="name">@user.UserName</div>

                                                    @if (user.IsSeen == false)
                                                    {
                                                        <div class="status"> <i class="fa fa-circle online"></i> <b>@user.LastMessage</b> </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="status"> <i class="fa fa-circle online"></i> @user.LastMessage </div>
                                                    }

                                                </div>
                                            </a>
                                        </li>
                                    }
                                }

                            </ul>
                        </div>
                        <div class="chat">
                            <div class="chat-header clearfix">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                            @if (ViewBag.User.Avatar == "" || @ViewBag.User.Avatar == null)
                                            {
                                                <img src="~/Client/img/default-user.jpg" alt="avatar" />
                                            }
                                            else
                                            {
                                                <img src="@ViewBag.User.Avatar" alt="avatar">
                                            }
                                        </a>
                                        <div class="chat-about">
                                            <h6 class="m-b-0">@ViewBag.User.UserName</h6>
                                            <small>Last seen: 2 hours ago</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chat-history">
                                <ul class="m-b-0">

                                    <li class="clearfix">
                                        <div class="message-data text-right">
                                            <span class="message-data-time">@DateTime.Now</span>
                                            <img src="~/Client/img/avatar-shop.jpg" alt="avatar">
                                        </div>
                                        <div class="message other-message float-right">@ViewBag.Start</div>
                                    </li>

                                    @foreach (var item in ViewBag.Chat)
                                    {

                                        <li class="clearfix">
                                            <div class="message-data">

                                                @if (ViewBag.User.Avatar == "" || @ViewBag.User.Avatar == null)
                                                {
                                                    <img src="~/Client/img/default-user.jpg" alt="avatar" />
                                                }
                                                else
                                                {
                                                    <img src="@ViewBag.User.Avatar" alt="avatar">
                                                }

                                                <span class="message-data-time">@item.CreatedAt</span>
                                            </div>
                                            <div class="message my-message">@item.Request</div>
                                        </li>

                                        @foreach (var res in item.Responses)
                                        {
                                            <li class="clearfix">
                                                <div class="message-data text-right">
                                                    <span class="message-data-time">@res.CreatedAt</span>

                                                    <img src="~/Client/img/avatar-shop.jpg" alt="avatar">

                                                </div>
                                                <div class="message other-message float-right"> @res.Message </div>
                                            </li>
                                        }

                                    }

                                </ul>
                            </div>
                            <div class="chat-message clearfix">
                                <form asp-controller="Messages" asp-action="Chat" asp-area="Admin" method="post">
                                    <div class="input-group mb-0">
                                        <input type="hidden" asp-for="UserId" value="@ViewBag.User.Id" />
                                        <input asp-for="Response" type="text" class="form-control" placeholder="Nhập tin nhắn tại đây...">
                                        <div class="input-group-prepend">
                                            <button class="input-group-text chatBtn"><i class="fa fa-send"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
