@model IEnumerable<TracyShop.Models.OrderDetail>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@inject TracyShop.Data.AppDbContext _context

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Chi tiết đơn hàng</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tên sản phẩm</th>
            <th>Phân loại hàng</th>
            <th>Số lượng</th>
            <th>Khuyến mãi</th>
            <th>Giá (đã trừ đi khuyến mãi)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @_context.Product.Where(p => p.Id == item.ProductId).First().Name
                </td>
                <td>
                    @_context.Sizes.Where(p => p.Id == item.SelectedSize).First().Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @(item.Promotion * 100) %
                </td>
                <td>
                    @String.Format("{0:0,0}", item.Price)
                </td>
            </tr>
        }
    </tbody>
</table>
