@model TracyShop.Models.AppUser

@{
    ViewData["Title"] = "Details Employee";
    Layout = "_Layout";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thông tin nhân viên</h1>
    <a asp-area="Admin" asp-controller="Employee" asp-action="Edit" asp-route-id="@Model.Id" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-edit text-white-50"></i> Chỉnh sửa thông tin
    </a>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Họ và tên
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Giới tính
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
    </dl>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Ngày sinh
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
    </dl>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Email
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Số điện thoại
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="Admin" asp-controller="Employee" asp-action="Index" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-arrow-alt-circle-left text-white-50"></i> Quay lại
    </a>
</div>