@model IEnumerable<TracyShop.Models.AppUser>

@{ 
    ViewData["title"] = "Employee"; 
}


<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Quản lý nhân viên</h1>
    <a asp-area="Admin" asp-controller="Employee" asp-action="Create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-user-plus fa-sm text-white-50"></i> Thêm nhân viên
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Họ và tên</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            @*<th>
                @Html.DisplayNameFor(model => model.Address)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>*@
                <td>
                    <a asp-area="Admin" asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                    <a asp-area="Admin" asp-controller="Employee" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                    <a asp-area="Admin" asp-controller="Employee" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>