@model IEnumerable<TracyShop.Models.AppUser>

@{
    ViewData["title"] = "Employee";
    Layout = "_Layout";
}
@inject TracyShop.Data.AppDbContext _context
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Quản lý nhân viên</h1>
    <a asp-area="Admin" asp-controller="Employee" asp-action="Create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-user-plus fa-sm text-white-50"></i> Thêm nhân viên
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Họ và tên</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th>Địa chỉ</th>
            <th>Đang làm việc</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @{
                        var address = "";
                        if (_context.Address.Where(a => a.UserId.Contains(item.Id)).ToList().Count != 0)
                        {
                            var model = _context.Address.Where(a => a.UserId.Contains(item.Id)).First();
                            address = model.SpecificAddress + ", " + model.District + ", " + model.City;
                        }
                    }
                    @address
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Is_active)
                <td>
                    <a asp-area="Admin" asp-controller="Employee" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                    <a asp-area="Admin" asp-controller="Employee" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                    <a asp-area="Admin" asp-controller="Employee" asp-action="AddAddress" asp-route-id="@item.Id">Thêm địa chỉ</a> |
                    @if (item.Is_active != false)
                    {
                        <button data-id="@item.Id" class="btn deleteEmp" type="button"> <i class="far fa-trash-alt"></i></button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<form id="deleteEmp" asp-action="Delete">
    <input type="hidden" id="empId" name="Id" />
</form>

@section Scripts{
    <script>
        $(function(){
            $('.deleteEmp').click(function(e) {
                swal({
                    title: "Bạn chắc chắn?",
                    text: "Bạn chắc chắn muốn xóa nhân viên này?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                        if(confirm){
                            var btn = $(this);
                            var id = btn.data("id");
                            $('#empId').val(id);
                            $('#deleteEmp').submit();
                        }
                    });
            });
        });
    </script>
}