@model IEnumerable<TracyShop.Models.Reviews>

@{
    ViewData["Title"] = "Reviews";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@inject TracyShop.Data.AppDbContext _context

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Đánh giá sản phẩm</h1>
</div>

@if (ViewBag.Message == "")
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Khách hàng</th>
                <th>Sản phẩm</th>
                <th>Bình luận</th>
                <th>Đánh giá</th>
                <th>Hình ảnh</th>
                <th>Ngày tạo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @_context.Users.Where(u => u.Id.Contains(item.UserId)).First().Name
                    </td>
                    <td>
                        @_context.Product.Where(p => p.Id == item.ProductId).First().Name
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @item.Rate / 5
                    </td>
                    <td style="width: 20%">
                        <img src="@Html.DisplayFor(modelItem => item.Image)" alt="" style="width: 50%;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text text-center" style="margin-top: 2%;">@ViewBag.Message</div>
}
