@model IEnumerable<TracyShop.Models.ProductSize>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@inject TracyShop.Data.AppDbContext _context

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Số lượng sản phẩm theo size</h1>

    @if (_context.UserRoles.Where(r => r.UserId.Contains(User.FindFirst("Id").Value)).First().RoleId == "1")
    {
        <a asp-area="Admin" asp-controller="ProductSizes" asp-action="Create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-plus-circle text-white-50"></i> Thêm size
        </a>
    }

    <a asp-area="Admin" asp-controller="Products" asp-action="Index" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-arrow-alt-circle-left text-white-50"></i> Quay lại
    </a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Kích thước
            </th>
            <th>
                Số lượng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-area="Admin" asp-controller="ProductSizes" asp-action="Details" asp-route-id="@item.ProductId"><i class="fas fa-info-circle"></i></a> |

                    @if (_context.UserRoles.Where(r => r.UserId.Contains(User.FindFirst("Id").Value)).First().RoleId == "1")
                    {
                        <button data-id="@item.ProductId" class="btn deleteSize" type="button"> <i class="far fa-trash-alt"></i></button>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>

<form id="deleteSize" asp-action="Delete">
    <input type="hidden" id="sizeId" name="Id" />
</form>

@section Scripts{
    <script>
        $(function(){
            $('.deleteSize').click(function(e) {
                swal({
                    title: "Bạn chắc chắn?",
                    text: "Bạn chắc chắn muốn xóa size này?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }).then((confirm) => {
                        if(confirm){
                            var btn = $(this);
                            var id = btn.data("id");
                            $('#sizeId').val(id);
                            $('#deleteSize').submit();
                        }
                    });
            });
        });
    </script>
}
