@model TracyShop.Models.Product

@{
    ViewData["Title"] = "Details Products";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@inject TracyShop.Data.AppDbContext _context

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Thông tin sản phẩm</h1>

    @if (_context.UserRoles.Where(r => r.UserId.Contains(User.FindFirst("Id").Value)).First().RoleId == "1")
    {
        <a asp-area="Admin" asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Id" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-edit text-white-50"></i> Chỉnh sửa thông tin
        </a>
    }

</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tên sản phẩm
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Mô tả
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            Giá
        </dt>
        <dd class="col-sm-10">
            @String.Format("{0:0,0}", Model.Price) VNĐ
        </dd>
        <dt class="col-sm-2">
            Năm sản xuất
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year_SX)
        </dd>
        <dt class="col-sm-2">
            Thương hiệu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trandemark)
        </dd>
        <dt class="col-sm-2">
            Xuất xứ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Origin)
        </dd>
        <dt class="col-sm-2">
            Kinh doanh
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="Admin" asp-controller="Products" asp-action="Index" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-arrow-alt-circle-left text-white-50"></i> Quay lại
    </a>
</div>
