@model IEnumerable<TracyShop.Models.Product>

@{
    ViewData["Title"] = "Products";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Danh sách sản phẩm</h1>
    <form asp-controller="Products" asp-action="Index" method="get">
        <p>
            <input type="search" placeholder="Tìm kiếm ..." value="@ViewData["GetProduct"]" name="searchString" style="width:400px"/>
            <input type="submit" value="Tìm kiếm" class="btn btn-primary"/>
        </p>

    </form>
    <p>
        <a asp-area="Admin" asp-controller="Products" asp-action="Create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-plus-circle text-white-50"></i> Thêm sản phẩm mới
        </a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>Giá</th>
            <th>Đang kinh doanh</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    <a asp-area="Admin" asp-controller="Products" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                    <a asp-area="Admin" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                    <a asp-area="Admin" asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a> |
                    <a asp-area="Admin" asp-controller="ProductSizes" asp-action="Index" asp-route-id="@item.Id">Xem số lượng</a> |
                    <a asp-area="Admin" asp-controller="Images" asp-action="Index" asp-route-id="@item.Id">Xem ảnh</a> |
                    <a asp-area="Admin" asp-controller="Reviews" asp-action="Index" asp-route-id="@item.Id">Xem đánh giá</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
